<p-dataView #dv [value]="productService.getProducts()">
  <ng-template pTemplate="header">
    <div class="flex justify-content-end">
      <p-dataViewLayoutOptions />
    </div>
  </ng-template>
  <ng-template pTemplate="list" let-products>
    <div class="grid grid-nogutter">
      @for(item of productService.getProducts(); track item.id ; let first=
      $first){
      <div class="col-12">
        <div
          class="flex flex-column sm:flex-row sm:align-items-center p-3 gap-3"
          [ngClass]="{ 'border-top-1 surface-border': !first }"
        >
          <div class="md:w-10rem relative">
            <img
              class="block xl:block mx-auto border-round w-full"
              [src]="item.imageURL"
              [alt]="item.name"
            />
            <p-tag
              [value]="item.inventoryStatus"
              class="absolute"
              [style.left.px]="4"
              [style.top.px]="4"
            />
          </div>
          <div
            class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4"
          >
            <div
              class="flex flex-row md:flex-column justify-content-between align-items-start gap-2"
            >
              <div>
                <span class="font-medium text-secondary text-sm">{{
                  item.category
                }}</span>
                <div class="text-lg font-medium text-900 mt-2">
                  {{ item.name }}
                </div>
              </div>
              <div class="surface-100 p-1" style="border-radius: 30px">
                <div
                  class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2"
                  style="
                    border-radius: 30px;
                    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04),
                      0px 1px 2px 0px rgba(0, 0, 0, 0.06);
                  "
                >
                  <span class="text-900 font-medium text-sm">{{
                    item.rating
                  }}</span>
                  <i class="pi pi-star-fill text-yellow-500"></i>
                </div>
              </div>
            </div>
            <div class="flex flex-column md:align-items-end gap-5">
              <span class="text-xl font-semibold text-900">{{
                "$" + item.price
              }}</span>
              <div class="flex flex-row-reverse md:flex-row gap-2">
                <p-button icon="pi pi-heart" [outlined]="true" />
                <p-button
                  (click)="addToCart(item)"
                  icon="pi pi-shopping-cart"
                  class="flex-auto md:flex-initial white-space-nowrap"
                  label="add to cart"
                  [disabled]="item.inventoryStatus === 'OUTOFSTOCK'"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </ng-template>
  <ng-template let-product pTemplate="grid" let-products>
    <div class="grid grid-nogutter">
      @for (product of productService.getProducts(); track product.id) {
      <div class="col-12 sm:col-6 md:col-4 xl:col-3 p-2">
        <div
          class="p-4 border-1 surface-border surface-card border-round flex flex-column"
        >
          <div class="flex justify-content-center border-round p-3">
            <div class="relative mx-auto">
              <img
                class="border-round w-full"
                [src]="product.imageURL"
                [alt]="product.name"
                style="max-width: 100%"
              />
              <p-tag [value]="product.inventoryStatus"></p-tag>
            </div>
          </div>
          <div class="pt-4">
            <div
              class="flex flex-row justify-content-between align-items-start gap-2"
            >
              <div>
                <span class="font-medium text-secondary text-sm">{{
                  product.category
                }}</span>
                <div class="text-lg font-medium text-900 mt-1">
                  {{ product.name }}
                </div>
              </div>
              <div class="surface-100 p-1" style="border-radius: 30px">
                <div
                  class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2"
                  style="
                    border-radius: 80px;
                    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04),
                      0px 1px 2px 0px rgba(0, 0, 0, 0.06);
                  "
                >
                  <span class="text-900 font-medium text-sm">{{
                    product.rating
                  }}</span>

                  <i class="pi pi-star-fill text-yellow-500"></i>
                </div>
              </div>
            </div>
            <div class="flex flex-column gap-4 mt-4">
              <span class="text-2xl font-semibold">{{
                "$" + product.price
              }}</span>
              <div class="flex gap-2">
                <p-button
                  (click)="addToCart(product)"
                  icon="pi pi-shopping-cart"
                  class="flex-auto md:flex-initial white-space-nowrap"
                  label="add to cart"
                />
                <p-button icon="pi pi-heart" [outlined]="true" />
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </ng-template>
</p-dataView>
