.quantity-badge {
  box-sizing: border-box;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: skyblue;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.cart {
  cursor: pointer;
}
