/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
.sticky-menu {
  position: fixed; /* or fixed, depending on your requirement */
  top: 0; /* This will keep it at the top */
  z-index: 1000; /* Ensures it stays above other content */
  width: 100%; /* Ensures it spans the full width */
  background-color: white; /* Background color to prevent overlap issues */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow effect */
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
